@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

/* mobile phones and tablets */
@media (max-width:1023px) {
    .bg-img-mobile {
        background: url("/bg_mobile.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

/* desktop screens */
@media (min-width:1024px) {
    .bg-img-desktop {
        background: url("/bg_desktop.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}